body {
  font-family: Palatino;
  background-color: rgb(255, 233, 0, 0.3);
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-item {
  margin-right: 1.8rem;
}

label.primary {
  display: block;
  margin: 0.4em 0;
}

label::after {
  content: ":";
}

button, input[type="submit"] {
  margin-top: 1rem;
}

#virtual-friends {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  align-content: center;
}

.virtual-friend-item {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #20437c;
  border-radius: 5%;
  background: #ddeaff;
  align-content: center;

}



h5 {
  font-size: 100px;
  padding: 0;
  margin: 0;
}
